body{
    background-color: black;

}

/*navbar*/
.navbar_name{
    position: fixed;
    font-family:'Outfit';
    font-size: 100px;
    margin-top: -125px;
    
    font-weight: bold;
    color: rgb(9, 97, 175);
    
    
}
.navbar{
    position: fixed;
    top: 15px;
    display: flex ;
    height: 75px;
    width: 100%;
   justify-content: right;
    z-index: 1;
    
}

.navbar_about{
    
    margin-top: -100px;
    font-size: 50px;
    font-family: 'Noto Sans Mono';
    text-decoration: none;
    padding: 17px;

}
.navbar_contact{
    
    margin-top: -10px;
    font-size: 50px;
    font-family: 'Noto Sans Mono';
    text-decoration: none;
    padding: 17px;
   
}
/*navbar-END*/