body{
    background-color: black;

}
.page-index{
    position: fixed;
    font-family: "Outfit";
    font-size: 120px;
    font-weight:800;
    color: rgb(9, 97, 175);
    
    margin-left: 20px;

}



/*navbar*/
.navbar {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    justify-content: right;
    display:flex;
    z-index: 1;
    text-decoration: none;
}
.navbar-element {
    margin-top: 35px;
    padding: 17px;
    
    
}
.navbar-element a{
    font-size: 50px;
    font-family: 'Noto Sans Mono';
    text-decoration:none;
    color: rgba(0, 42, 78, 0.841); 
    
   
    
}
.navbar-element a:hover{
    color: rgb(9, 97, 175); 
}
.navbar-element ::after{
display: inline-block;
content:"";
background-color: rgb(9, 97, 175);
margin-left:0;
top: -50px;
width: 0%;
height: 5px;
position: relative;
border-radius: 5px;

transition: 0.1s;
}

.navbar-element :hover::after{
width: 100%;
}

/*navbar-END*/

