body{
    background:linear-gradient(to right,rgb(33, 105, 199),rgb(27, 77, 178));
}
.navbar{
    display: flex;
    justify-content: right;
    padding-top: 0.5%;
    padding-right: 1%;
}
.navbar_element{
    
    padding-left:2%;
}
.navbar_element a{
    color: grey;
    font-family: "Outfit";
    font-size: 40px;
    text-decoration: none;
    
}