@media (max-device-width:640px), screen and (max-width:640px) {
    .page-index{
    color: rgba(0, 42, 78, 0);    
    }
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    overflow-x: hidden;

}
.page-index{
    position: fixed;
    font-family: "Outfit";
    font-size: 120px;
    font-weight:800;
    color: rgb(9, 97, 175);
    z-index: 2;
    margin-left: 20px;

}


/*navbar*/
.navbar {
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    justify-content: right;
    display:flex;
    z-index: 1;
    text-decoration: none;
}
.navbar-element {
    margin-top: 35px;
    padding: 17px;
    
    
}
.navbar-element a{
    font-size: 50px;
    font-family: 'Noto Sans Mono';
    text-decoration:none;
    color: rgba(0, 42, 78, 0.841); 
    
   
    
}
.navbar-element a:hover{
    color: rgb(9, 97, 175); 
}
.navbar-element ::after{
display: inline-block;
content:"";
background-color: rgb(9, 97, 175);
margin-left:0;
top: -50px;
width: 0%;
height: 5px;
position: relative;
border-radius: 5px;

transition: 0.1s;
}

.navbar-element :hover::after{
width: 100%;
}

/*navbar-END*/








.content{
    z-index: 0;
    position:absolute;
    width: 99%;
    outline: 3px solid rgba(255, 255, 255, 0);
    height: 3000px;
    z-index: 0;
    
    
    
}

#sycrw{
    
    font-family:"Oswald";
    font-size: 600px;
    margin-top: 0px;
    text-align: center;
    position: relative;
    margin-top: 200px;
    height: 750px;
    outline: 3px solid rgba(255, 255, 255,0);
    
}

#sycrw_des {
    position: relative;
    text-align: center;
    font-size: 27px;
    font-family: 'Noto Sans Mono'; 
    
}
.sycrw_des p{
   margin-top: -30px;
}

#projects{
   
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 500px;  
    margin-left: auto;
    margin-right: auto;
    height: 3000px;
    background-color: rgb(0, 33, 86);
    color: black;
}

.projects_title{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color: black;
    
   
    text-decoration: none;
    
    width: 39.5%;
    height: 15%;


    font-size: 300px;
    text-align: center;
    font-family: "Oswald";
    font-weight: 700;
    transition: 0.1s;
}
.projects_title:hover{
    font-size: 350px;
    margin-top: -30px;
}


#projects p{
    font-family: 'Noto Sans Mono'; 
    text-align: center;
    margin: auto;
    width: 60%;
    font-size: 25px;
    

}

