@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(10, 10, 10);
  height: 100vh;  
  margin: 0px;
  overflow: hidden;
}

.gallery{
  height: 140vmax;
  width: 140vmax;  
  position: absolute;
}

.card {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;
  border: solid 2px rgba(148, 138, 138, 0.499);
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.card:hover > img {
  opacity: 1;
  transform: scale(1.01);
  
}

/*Show text if there is a p element on hover over card*/
.card > p {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.8);
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.5);
  font-size: 2vmax;
  text-align: center;
  width: 100%;
}

.card:hover > p {
  transform: scale(1.2);
  transform: translate(-50%, -50%); 
  opacity: 1;
  font-weight: 900;
  transition: 800ms ease;
}


.card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease,
    transform 800ms ease;
}
.card:not(:has(img)):hover {
  background-color: rgb(255,255,255)
}


.card:nth-child(1) { /*Learm more*/
  height:50%;
  width: 20%;
  left: 30%;
  top: 15%;
}
.card:nth-child(1) > p{
  top:70%
}
.card:nth-child(2) { /*Music Analyser*/
  height: 15%;
  aspect-ratio: 1/1;
  left: 68%;
  top: 8%;
}
.card:nth-child(3) { /*About*/
  height: 14%;
  width: 12%;
  left: 45%;
  top: 35%;
}

.card:nth-child(4) { /*Projects*/
  height: 16%;
  width: 32%;
  left: 8%;
  top: 50%;
}
.card:nth-child(5) {/*Skills*/
  height: 15%;
  width: 10%;
  left: 22%;
  top: 13%;
}