/*general*/
:root{
    --col1 : rgb(0, 0, 0);
    --col2 :rgb(58, 151, 233);
    --col3: rgb(58, 58, 62);
}
body{
    background-color: var(--col1);
    overflow-x: hidden;
    margin:0;
    padding:0;
    
}
html{
  scroll-behavior: smooth;
}
@media (max-width:1000px) {
  body{
    margin-top:18%;
  }

}
.section-title{
    color:var(--col2);
    font-family: "Outfit";
    text-align: center;
    font-size: 140px;
    font-weight: 900;
  }
  .box{
    background-color: var(--col1);
    border: var(--col2)solid 2px;
    color:var(--col2);
    box-shadow: 2px 2px 10px var(--col2);
    border-radius: 20px;
  }

   /*navabr*/
.navbar{
  margin-right: 50px;
   width: 100%;
   background-color: var(--col2);
   display: flex;
   position: fixed;
   justify-content: right;
   transition: 300ms ease-in-out;
   padding: 0.5%;
   top: 0;
   z-index: 10;
 }



.navbar_element{
    top: 30px;
    padding-inline: 1%;
}
.navbar_element a{
    text-decoration: none;
    color: var(--col1);
    font-family: "Outfit";
    font-size: 30px;
    transition: 50ms ease-in-out;
}
.navbar_element a:hover{
    font-size: 35px;
}
.navbar button{
  background:none;
  border: none;
  outline: none;
  padding-right: 20px;
  transition: 300ms ease-in-out;
}
.line-container {
  width: 40px; 
  height: 40px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%; 
  height: 7px; 
  background-color: var(--col1);
  outline: solid black 1px;
}
@media (max-width:1000px) {
  .navbar{
    position:absolute;
    flex-direction: column;
    align-items: center;
  }  
  .navbar button{
    padding-right: 0;
  }
} 
  .top_button{
    width: 70px;
    height: 70px;
    background-color: var(--col2);
    position: fixed;
    bottom: 1%;
    right: 0.5%;
    border-radius: 10px;
    opacity: 0.5;
    transition: 500ms ease-in-out;
  }
  .top_button:hover{
    opacity: 0.9;
  }
  .top_button img{
    width: 70px;
    height: 70px;
  }
  @media (max-width:700px) {
    .top_button{
      width: 50px;
      height: 50px;
      bottom: 0%;
      right: 2%;
      border-radius: 10px;
      opacity: 0.5;
    }
    .top_button img{
      width: 50px;
      height: 50px;
    }
  }
  /*foooter*/
  footer {
    background-color: var(--col3);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    color: var(--col2);
  }
  footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer div a{
    font-size: 60px;
    font-family: "Outfit";
  }
  footer div div a{
    font-size: 30px;
    font-family: "Outfit";
  }
  .link{
    font-size: 20px;
    color: var(--col1);
  }
  .ConatactElem{
    font-size: 20px;
    color: var(--col1);
    text-align: center;
  }
  @media (max-width:1000px) {
    footer{
      grid-template-columns: 100%;
    }
  }