body{
    background-color: var(--col1);
    overflow-x: hidden;
    margin:0;
    padding:0;
}
/*about-sections*/
.about-section{
  padding-top:7% ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-section div{ 
  display: flex;
  justify-content: space-evenly;
  padding-inline: 3%;
}

.about-section div a{
  font-family: "Outfit";
  font-size: 25px;
  height: auto;
  width: 50%;

  padding: 2% 2% 2% 2%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
}
.about-section div img{
  height: 600px;
  border-radius: 1000000000000000px;
 


}
@media (max-width:1000px) {
  .about-section div {
    flex-direction: column;
    padding-top: 1%;
    align-items: center;
  }
  .about-section div a{
    text-align: center;
  }
  .about-section div img{
    height: 30vh;
    width: 30vh;
    margin-left: auto;
    margin-right: auto;
  }
  .about-section{
    padding-top: 10%;
  }
  .about-section div a{
    margin-top: 2%;
  }

}
/*Projects*/
.projects-section{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
.projects{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.projects_element{
  width: 125px;
  height: 125px;
  margin:10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
  
}
.projects_element img{
  width: 105px;
  height: 105px;
  padding: 10px;
}
.Projects_element_PI{
  margin-top: -45px;
  font-size: 200px;  
}
.Projects_element_MEMES{
  font-size: 35px;
}
/*Skills*/
.Skills-section{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
.Skills{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.Skills_element{
  width: 125px;
  height: 125px;
  margin:10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Skills_element img{
  width: 105px;
  height: 105px;
  padding: 10px;
}
