body{
    background-color: var(--col1);
    overflow-x: hidden;
    margin:0;
    padding:0;
}
/*navabr*/
.navbar{
  margin-right: 50px;
   width: 100%;
   background-color: var(--col2);
   display: flex;
   position: fixed;
   justify-content: right;
   transition: 300ms ease-in-out;
   padding: 0.5%;
   top: 0;
 }



.navbar_element{
    top: 30px;
    padding-inline: 1%;
}
.navbar_element a{
    text-decoration: none;
    color: var(--col1);
    font-family: "Outfit";
    font-size: 30px;
    transition: 50ms ease-in-out;
}
.navbar_element a:hover{
    font-size: 35px;
}
.navbar button{
  background:none;
  border: none;
  outline: none;
  padding-right: 20px;
  transition: 300ms ease-in-out;
}
.line-container {
  width: 40px; 
  height: 40px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%; 
  height: 7px; 
  background-color: var(--col1);
}
@media (max-width:1000px) {
  .navbar{
    flex-direction: column;
    align-items: center;
  }  
  .navbar button{
    padding-right: 0;
  }
}
/*about-sections*/
.about-section{
  padding-top:7% ;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-section div{ 
  display: flex;
  justify-content: space-evenly;
  padding-inline: 3%;
}

.about-section div a{
  font-family: "Outfit";
  font-size: 25px;
  height: auto;
  width: 50%;

  padding: 2% 2% 2% 2%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
}
.about-section div img{
  height: 600px;
  border-radius: 25vh;
 


}
@media (max-width:1000px) {
  .about-section div {
    flex-direction: column;
    padding-top: 1%;
  }
  .about-section div img{
    height: 30vh;
    width: 30vh;
    margin-left: auto;
    margin-right: auto;
  }
  .about-section{
    padding-top: 10%;
  }
  .about-section div a{
    margin-top: 2%;
  }

}
/*Projects*/
.projects-section{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
.projects{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.projects_element{
  width: 125px;
  height: 125px;
  margin:10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.projects_element img{
  width: 105px;
  height: 105px;
  padding: 10px;
}
.Projects_element_PI{
  margin-top: -40px;
  font-size: 200px;  
}
/*Skills*/
.Skills-section{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
.Skills{
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.Skills_element{
  width: 125px;
  height: 125px;
  margin:10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Skills_element img{
  width: 105px;
  height: 105px;
  padding: 10px;
}
